h1{
  color:#8915CB;
  text-align:center;
}
div#info{
  text-align:center;

}
input{
  width: 300px;
  text-align:center;
}
.bt{
    color:#8915CB;
   width: 300px;
   text-align:center;
  width:300px;
  font-size:20px;
 }

.bt:hover{
  background-color:#8915CB;
  color:white;
}
table#list{
    width:100%;

}
td{
/*    border-top:1px white solid;*/
}
table#list #list-name{
    color:#8915CB;
    text-align:right;
    width:7em;
}
table#list #list-msg{
    color:white;
    text-align:left;
}
table#list #list-date{
    color:gray;
    text-align:right;
}